/* All pages */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Noto Serif', serif;
}

.bg-green{
    background-color: #6DCDAC;
}

.banner{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 10px;
}

li a{
    text-align: end;
    font-size: larger;
}

.nav-link:hover{
    color: #F06306 !important;
    text-decoration: underline;
}

/* About Page */

.about-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 21% 135% 10%;
    grid-template-columns: 100%;
}

/* @media (min-width: 582px) {
    .about-container {
        grid-template-rows: 21% 135% 10%;
    }
} */

/* .about-header {
    grid-row: 1;
    width: 100%;
    background-color: #6DCDAC;
} */

.about-middle-section {
    grid-row: 2;
    width: 100%;
    text-align: center;
    background-color: #FFF9EB;
}

.about-text {
    width: 100%;
    height: 30%;
    margin: 1%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#about-text-body {
    width: 75%;
    text-align: center;
}

.about-team {
    width: 100%;
    height: 60%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-img-container {
    width: 100%;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

.team-img {
    width: 70%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-image: url(/img/team.jpg);
}

@media (min-width: 676px) {
    .team-img { 
        width: 55%;
    }

    .about-text {
        height: 20%;
    }
}

#team-text {
    width: 75%;
}

.btn-lg, .btn-primary-lg {
    background-color: #FF7E29 !important;
    color:white;
    font-size: 1.5em;
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent;
    text-decoration: none;
    margin-top: 2%;
    width: 30%;
    height: 10%;
    padding: 1.3%;
}

.btn-lg:hover, .btn-lg:focus {
    background-color: #F06306 !important;
    color:white;
}

.about-footer {
    grid-row: 3;
    width: 100%;
    background-color: #6DCDAC;
}

/* Get Involved Page */

.get-involved-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 50% 10% 70% 10%;
    grid-template-columns: 100%;
    background-color: #FFF9EB;
}

/* @media (min-width: 582px) {
    .get-involved-container {
        grid-template-rows: 21% 10% 70% 10%;
    }
} */

/* .get-involved-header {
    grid-row: 1;
    width: 100%;
    background-color: #6DCDAC;
} */

.gi-middle-section {
    grid-row: span 2 / 4;
    width: 100%;
    text-align: center;
}

.get-involved-title {
    margin-top: 5%;
    background-color: #FFF9EB;
}

.get-involved-text {
    margin: 5%;
    margin-top: 1%;
    text-align: center;
}

.get-involved-button1 {
    width: 55%;
    border-radius: 10%;
    margin: 5%;
    padding: 3%;
    font-size: xx-large;
}

.get-involved-button2 {
    width: 35%;
    border-radius: 10%;
    padding: 3%;
    padding-left: 4%;
    padding-right: 4%;
    margin: 5%;
    font-size: xx-large;
}

.get-involved-footer {
    grid-row: 4;
    width: 100%;
    background-color: #6DCDAC;
}

/* Donate Page */

.donate-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 50% 2% 88%;
    grid-template-columns: 100%;
}

@media (min-width: 582px) {
    .donate-container {
        grid-template-rows: 21% 2% 100%;
    }
}

.donate-header {
    grid-row: 1;
    width: 100%;
    background-color: #6DCDAC;
}

.donate-text {
    grid-row: 2;
    margin-top: 2%;
    background-color: #FFF9EB;
}

.donate-middle-section {
    grid-row: span 2 / 4;
    width: 100%;
    background-color: #FFF9EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.donate-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#donate-email-field {
    margin-bottom: 2%;
    width: 110%;
    padding: 1.5vh;
}

#payment-method-field {
    margin-bottom: 2%;
    width: 110%;
    padding: 1.5vh;
}

#card-number-field {
    margin-bottom: 2%;
    width: 110%;
    padding: 1.5vh;
}

#amount-field {
    width: 110%;
    margin-bottom: 1%;
    padding: 1.5vh;
}

#donate-submit-btn {
    width: 100px;
    height: 50px;
    font-size: 1.2em;
    border-radius: 10%;
    margin: 1%;
    padding-bottom: 3.3%;
    text-align: center;
}