/* All pages */

html, body {
    /* width: 100%; */
    background-color: #FFF9EB;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Noto Serif', serif;
    text-align: center;
}

.bg-green{
    background-color: #6DCDAC;
}

.banner{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 10px;
}

li a{
    text-align: end;
    font-size: larger;
}

.nav-link:hover{
    color: #F06306 !important;
    text-decoration: underline;
}

footer p{
    margin-bottom: 0px;
}

/* About Page */

.about-container {
    width: 100%;
}

.about-middle-section {
    width: 100%;
    text-align: center;
    background-color: #FFF9EB;
}

.about-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#about-text-body {
    width: 75%;
    text-align: center;
}

.about-team {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.team-img {
    width: 40%;
}

#team-text {
    width: 75%;
}

.btn-lg, .btn-primary-lg {
    background-color: #FF7E29 !important;
    color:white;
    font-size: 1.5em;
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent;
    text-decoration: none;
    text-align: center;
    width: 30%;
    padding: 1.3%;
}

.btn-lg:hover, .btn-lg:focus {
    background-color: #F06306 !important;
    color:white;
}

/* Get Involved Page */

.gi-middle-section {
    width: 100%;
    text-align: center;
}

.get-involved-title {
    margin-top: 4%;
    background-color: #FFF9EB;
}

.get-involved-text {
    margin: 5%;
    margin-top: 1%;
    text-align: center;
}

.involve-buttons {
    margin-bottom: 10%;
}

.get-involved-button1 {
    width: 35%;
    border-radius: 10%;
    margin: 5%;
    padding: 3%;
    font-size: xx-large;
}

.get-involved-button2 {
    width: 35%;
    border-radius: 10%;
    padding: 3%;
    padding-left: 4%;
    padding-right: 4%;
    margin: 5%;
    font-size: xx-large;
}

/* Donate Page */

.donate-form-container {
    max-width: 700px !important;
    margin-bottom: 4%;
}

.curved {
    border-radius: 15px;
    border: 5px solid #F06306;
}

.donate-description {
    text-align: center;
}

.donate-title {
    color: #FF7E29;
}

.donate-form input {
    width: 100%;
    margin-bottom: 1%;
}

.form-select-sm {
    border-color: gray;
    margin-bottom: 1%;
}

.donate-submit {
    background-color: #FF7E29 !important;
    color:white;
    font-size: 1.5em;
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.donate-submit:hover, .donate-submit:focus {
    background-color: #F06306 !important;
    color:white;
}