html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
.bg-yellow{
    background-color: #FFF9EB;
}

.bg-green{
    background-color: #6DCDAC;
}

.banner{
    height: 100px;
}

.height-100{
    height:100%
}
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}



h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Noto Serif', serif;
}

.title {
    text-align: center;
    margin: 60px;
}


.browseContainer {
    display: grid;
    width: 100%;
    min-height: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.pet1 {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    padding: 10px;
    height: 10rem;
    border-radius: 10px;
    margin: 60px;
}

.pet2 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
    padding: 10px;
    height: 10rem;
    border-radius: 10px;
    margin: 60px;
}

.pet3 {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: left;
    padding: 10px;
    height: 10rem;
    border-radius: 10px;
    margin: 60px;
}

.pet4 {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
    padding: 10px;
    height: 10rem;
    border-radius: 10px;
    margin: 60px;
}

.pet5 {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
    padding: 10px; 
    height: 10rem;
    border-radius: 10px;
    margin: 60px;
}
.pet6 {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: left;
    padding: 10px;
    height: 10rem;
    border-radius: 10px;
    margin: 60px;
}