.bg-yellow{
    background-color: #FFF9EB;
}

.bg-green{
    background-color: #6DCDAC;
}

.banner{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 10px;
}

li a{
    text-align: end;
    font-size: larger;
}

.banner a:hover{
    color: #F06306 !important;
    text-decoration: underline;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.carousel-inner img{
    border-radius: 20px;
    aspect-ratio: 4/3;
    max-height: 800px;
    object-fit: cover;
    object-position: center;
}

.bold{
    font-weight: bold;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}


.responsive-map{
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.responsive-map iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
}

.curved{
    border-radius: 15px;
    border: 5px solid #F06306;
}

p{
    text-align: center;
}

.volunteer-form-container{
    max-width: 600px !important;
}
.volunteer-title{
    color: #FF7E29;
}

.volunteer-form input{
    width:100%;
}

.volunteer-submit {
    background-color: #FF7E29 !important;
    color:white;
    font-size: 1.5em;
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.volunteer-submit:hover {
    background-color: #F06306 !important;
    color:white;
}

.volunteer-img{
    max-width: 600px !important;
}

.volunteer-img img{
    border-radius: 15px;
}