.bg-yellow{
    background-color: #FFF9EB;
}

.bg-green{
    background-color: #6DCDAC;
}

.banner{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 10px;
}

li a{
    color: black !important;
    text-align: end;
    font-size: larger;
}

.banner a:hover{
    color: #F06306 !important;
    text-decoration: underline;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

p{
    text-align: center;
    font-family: 'Noto Serif', serif;
}

/* Index */
.carousel-inner img{
    border-radius: 20px;
    aspect-ratio: 5/3;
    max-height: 800px;
    object-fit: cover;
    object-position: center;
}

.bold{
    font-weight: bold;
}


.responsive-map{
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    border: 1px solid black;
}

.responsive-map iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
}

.curved{
    border-radius: 15px;
    border: 5px solid #F06306;
}


/* Get Involved */
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: auto;
    column-gap: 10%;
}

#volunteer-img, #donation-img{
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    margin-bottom: 20px;
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.separator-vertical{
    background-color: #F06306;
}

.button{
    padding: 15px;
    max-width: 1500px;
    background-color: #FF7E29;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    font-size: x-large;
    margin: 5px auto;
}

.button:hover{
    color: black;
    background-color: #F06306;

}

@media only screen and (max-width: 768px) {
    .grid-container{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

    }

    .volunteer-header{
        grid-row: 1;
    }

    .volunteer-body{
        grid-row: 2;
    }

    .volunteer-image{
        grid-row: 3;
    }

    .volunteer-button{
        grid-row: 4;
    }
    
    .separator-horizontal{
        grid-row:5;
        height: 1px !important;
        margin: 20px 0px;
        background-color: #F06306;
    }

    .donation-header{
        grid-row: 6;
    }

    .donation-body{
        grid-row: 7;
    }

    .donation-image{
        grid-row: 8;
    }

    .donation-button{
        grid-row: 9;
    }
}


/* Volunteer Page */
.volunteer-form-container{
    max-width: 600px !important;
}

.volunteer-title{
    color: #FF7E29;
}

.volunteer-form input{
    width:100%;
}

.volunteer-submit {
    background-color: #FF7E29 !important;
    color:black;
    font-size: 1.5em;
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.volunteer-submit:hover {
    background-color: #F06306 !important;
    color:black;
}

.volunteer-img{
    max-width: 600px !important;
}

.volunteer-img img{
    border-radius: 15px;
}

footer p{
    margin-bottom: 0px;
}